NODE_ENV=development


# clerk api keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_

  # for production needs to use this variable:
    NEXT_PUBLIC_CLERK_FRONTEND_API=clerk.YOUR_SUBDOMAIN.clerk.accounts.dev


# urls
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_URL=path-to-your-production-url-or-localhost
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# for webhooks
SIGNING_SECRET=example123

MONGODB_URI=connectionString
MONGODB_DBNAME=dbName


#firebase
NEXT_PUBLIC_FIREBASE_API_KEY=firebasekey
NEXT_PUBLIC_FIREBASE_PROJECT_ID=firebaseprojectid
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=firebase-storage-bucket

GOOGLE_APPLICATION_CREDENTIALS_BASE64=base64 -i firebaseReadAccount.json -o encoded.txt encode the file.

ENABLE_FIREBASE_SYNC=true

# rate limit for api calls to firebase
RATE_LIMIT=number of requests per minute

#cache revalidation interval in seconds
CACHE_REVALIDATION_INTERVAL=120

# Mailerlite configuration
MAILERLITE_API_KEY=mailer-lite-keys
MAILERLITE_GROUP_ID=mailer-lite-group-id