@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;

nav > div:first-child {
  padding: 0.625rem 1rem;

  @include onLaptop {
    width: 1280px;
  }

  @include onMobile {
    padding: 0.625rem 1rem;
  }
}

.link {
  text-transform: uppercase;
}