@use '../../mixins' as *;

.search-page {
  &__sidebar {
    padding: 1.75rem;

    @include onLaptop {
      padding: 1.75rem 0 1.75rem 0;
    }
  }

  &__results {
    padding: 1.75rem;

    @include onLaptop {
      padding-right: 0;
    }
  }
}