@use '../styles/mixins' as *;

.about-page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  @include onMobile {
    flex-direction: column;
  }

  &__container {
    max-width: 700px;
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
  }

  &__paragraph {
    line-height: 1.6;
  }
}