//  base and utils

@use '../styles/base/_layout.scss';
@use '../styles/_mixins.scss';
@use '../styles/_vars.scss';

//  // components

@use '../styles/components/Dashboard/DashProfile.module.scss';
@use '../styles/components/PostEditor/ReactQuil.scss';
@use '../styles/components/Navigation/nprogress-custom.scss';

body.front {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body.dashboard {
  font-family: Arial, Helvetica, sans-serif;
}