@use '../../mixins' as *;

.about-page {
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: row;

  @include onTabletOnly {
    padding: 0 1.5rem;
  }

  @include onMobile {
    flex-direction: column;
  }

  &__container {
    padding: 2rem;
    text-align: center;

    @include onTablet {
      padding: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    gap: 1.5rem;
    font-size: 1rem;

    @include onTablet {
      padding: 0;

      &--first {
        padding-left: 5rem;
      }
    }

    &-image {
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    font-weight: 600;

    @include onTablet {
      text-align: left;
    }
  }

  &__heading {
    @include onMobile {
      align-self: center;
    }

    &--last {
      align-self: center;
    }
  }

  &__paragraph {
    line-height: 1.6;

    @include onTablet {
      text-align: left;
    }
  }

  &__contact-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    align-self: center;
  }
}