@use "@/styles/_mixins" as *;
@use "@/styles/vars" as *;

$border-radius: 0.25rem;

.featuredPost {
  padding: 1.5rem 0;

  @include onTablet {
    padding: 2rem 0 3rem 0;
  }

  &__article {
    border-radius: $border-radius;
  }

  &__imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    transform: scale(1.04);
    transition: transform 8s ease-out;
  }
}

.featuredPost__article:hover .featuredPost__image {
  transform: scale(1);
}
