.dark .ql-toolbar .ql-stroke {
  stroke: #fff;
}

.dark .ql-toolbar .ql-fill {
  fill: #fff
}

.dark .ql-snow .ql-picker.ql-header .ql-picker-label:not(.ql-selected)::before,
.dark .ql-snow .ql-picker.ql-header .ql-picker-item:not(.ql-selected)::before {
  color: #fff;
}

.dark .ql-picker-item:not(.ql-selected)::before {
  color: initial !important;
}

.ql-editor {
  min-height: 10rem;
  font-size: 1rem;
  // overflow-y: hidden;
}

.ql-snow .ql-editor h1 {
  font-size: 1rem !important;
  font-weight: 500;
}